:root {
  --blue: hsl(240, 50%, 50%);
  --white: hsla(0, 0%, 100%, 0.8);
  --lightblue: hsl(240, 50%, 80%);
  --green: hsl(90, 50%, 40%);
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}
header {
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem 2rem;
  margin: 0;
  & h1,
  & span.material-symbols-outlined {
    color: var(--white);
    font-size: 4rem;
  }
}
nav {
  padding: 1rem 2rem;
  background-color: var(--lightblue);

  & a {
    /* TODO: */
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;

    &:hover {
      color: var(--white);
      text-decoration-style: wavy;
    }
  }
}
form {
  margin: 1rem 2rem;

  & label {
    font-size: 1.5rem;
    margin-inline-end: 1.5rem;
    padding: 0.5rem 2rem;
  }
  & select {
    /* & ampersand */
    font-size: 1.5rem;
    margin-inline-end: 1.5rem;
    padding: 0.5rem 2rem;
  }
  & option {
    font-size: 1.5rem;
  }
  & button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
  }
}
main {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.card {
  width: 300px;
  border: 1px solid var(--lightblue);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  &:hover {
    box-shadow: 0px 0px 4px var(--lightblue);
  }
  & img {
    max-width: 100%;
    object-fit: contain;
  }
  & p {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  & button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    align-self: stretch;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;

    &.adopted {
      background-color: var(--green);
      cursor: not-allowed;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
}
